*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.05)50%, rgba(0,0,0,0.05)50%), url(fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1400px;
    height: 80px;
    margin: auto;
    
    
}
.icono{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: whitesmoke;
    font-size: 35px;
    padding-left: 10px;
    float: center;
    padding-top: 10px;
    color: orange;
    margin-top: 0px
}
.menu{
    width: 600px;
    float: left;
    height: 70px;   
    margin: auto;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;                    
}
ul li{
    list-style: none;
    margin-left: 52px;
    margin-top: 27px;
    font-size: 15px;  
}
ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: orange ;
}
.buscador{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.bcdr{
   font-family: 'Times New Roman';
    width: 140px;
    height: 10px;
    border: 1px solid orange;
    margin-top:25px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 15px;
}
.boton{
    width: 100px;
    height: 32px;
    background: orange;
    border: 2px solid black;
    margin-top: 25px;
    color:black;
    font-size: 16px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease;
}
.boton:hover{
    background-color: wheat ;
    }
.boton:focus{
    outline:none ;
}
.bcdr:focus{
    outline: none;
}
.contenido{
    width: 1200px;
    height: auto;
    margin: auto;
    color: azure;
    position: relative;
}
.contenido .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.contenido h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 80px;
    letter-spacing: 2px;
    margin-right: 0px;
    
}

.contenido .cn{
    color: orange;
    width: 160px;
    height: 40px;
    border: none;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-top: 100px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease;
}
.contenido span{
color : orange;
font-size: 60px;
}
.contenido .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background-color: greenyellow ;
    }

.forma{
    width: 250px;
    height: 380px;
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50% ) ;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}   
.forma h2{
    width:220px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 22px;
    background-color: orange;
    margin: 2px;
    padding: 8px;
    border-radius: 10px;
}
.forma input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    color: whitesmoke;
    
}
.forma input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;

}
.boton1{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
    font-weight: bold;
}
.boton1:hover{
    background: white;
    color: orange;
}
.boton1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.forma .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.forma .link a{
    text-decoration:none;
    color: orange;
    text-align: center;
}
.liw{
    padding: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
text-decoration: none;
color: white;
}
.icon ion-icon{
    color: white;
    font-size: 20px;
    padding-left:10px ;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icon ion-icon:hover{
    color: orange;
}